includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - app
        - config
        - database/factories
        - database/seeds
        - routes
        - tests
    level: 5
